<!DOCTYPE html>
<html>
<head>
  <title>TOPSIS Analysis Web Tool</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>TOPSIS Analysis Web Tool</h1>

<input type="file" id="fileInput"><br><br>

<input type="text" id="weights" placeholder="Weights (e.g. 1,2,1,1)">
<br><br>

<input type="text" id="impacts" placeholder="Impacts (e.g. +,+,-,+)">
<br><br>

<button onclick="runTopsis()">Run TOPSIS</button>

<h2>Result</h2>
<div id="output"></div>

<script src="script.js"></script>
</body>
</html>
